@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);

  --font-sm: 14px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--gray-900);
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.card {
  background-color: var(--gray-800);
  border-radius: 12px;
  padding: 24px;
  width: calc(100% - 48px);
  max-width: 384px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .card {
    padding: 40px;
  }
}

.avatar img {
  width: 88px;
  aspect-ratio: 1/1;
  border-radius: 999px;
  object-position: center;
  object-fit: cover;
}

header {
  text-align: center;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.location,
.description {
  font-size: var(--font-sm);
}

.location {
  color: var(--green);
  font-weight: 700;
}

nav {
  width: 100%;
}

.social-links {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-link {
  text-align: center;
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-sm);
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: var(--gray-700);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-link:hover {
  background-color: var(--green);
  color: var(--gray-700);
}
